[Unit]
Description=Minecraft Server
After=network.target

[Service]
User={{ mcs_user }}
Group={{ mcs_user }}
Type=simple
WorkingDirectory={{ mcs_path }}
ExecStart=screen -DmS mcs {{ mcs_path }}/run.sh nogui
ExecStop=screen -p 0 -S mcs -X eval 'stuff "say SERVER SHUTTING DOWN. Saving map..."\\015'
ExecStop=screen -p 0 -S mcs -X eval 'stuff "save-all"\\015'
ExecStop=screen -p 0 -S mcs -X eval 'stuff "stop"\\015'
ExecStop=/bin/sleep 2

RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target